body {
    background-color: #fffbf7;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
  }
  .main {
    margin: 140px 0 0 0;
    padding: 10px;
    text-align: center;
  }
  .main h1 {
    color: #025157;
    font-weight: 900;
    font-size: 60px;
    font-family: "Alegreya", serif;
  }
  .texto-gris {
    color: #46484c;
  }
  .main form button {
    color: #fff;
    background-color: #025157;
    height: 47px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
  }
  .main form input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 45px;
    margin-right: -5px;
    border: 1px solid #c6c6c6;
    padding: 0 5px;
  }
  .main .grey-text {
    color: #a6a6a6;
    margin-bottom: 5px;
  }
  .main .banner {
    margin-top: 25px;
    text-align: center;
  }
  .main .second-image {
    width: 70%;
  }
  .fixed-header {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      background-color: #fffbf7;
  }
  .header {
      margin: 40px 20px 0;
      font-size: 0;
      text-align: center;  
  }
  .header li {
      display: inline;
      padding: 15px;
  }
  .header ul {
      padding: 0;
  }
  .header > * {
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
  }

  .logo {
      width: 20%;
      text-align: left;
  } 
  .logo > img {
      height: 100%;
  }
  .navbar {
      width: 60%;
      color: #025157;
      font-weight: 500;
  }
.actions {
      width: 20%;
      text-align: right;
      font-weight: 600;
      font-size: 14px;
  }
  .actions > * {
      margin: 0 10px;
  }
  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}
.actions a {
    color: #67b54b;
}
.actions > * {
    margin: 0 10px;
}
.publish {
    flex: 1;
    padding: 0 10px;
}
.publish h3 {
    color: #025157;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    font-family: "Alegreya", serif;
  }
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .publish div p {
    color: #8b8b8bcc;
    margin-top: 15px;
  }
  .publish form button {
    color: #fff;
    background-color: #025157;
    height: 47px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
  }
  .publish form input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 45px;
    margin-right: -5px;
    border: 1px solid #c6c6c6;
    padding: 0 5px;
  }
  .promo {
      display: flex;
      flex-direction: row;
      width: 70%;
      margin: 100px auto;
      align-items: center;
  }
  .explanatory-video {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
}
.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}
.features {
    display: grid;
    background-color: #025157 ;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    padding: 5% 10%;

}
.feature-card {
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}

.features .future-card .feature-content figure {
    margin-left: 0;
}

.features .feature-card .feature-content img {
    width: 50px;
    margin-left: 0;
}

.features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
    transition: right .5s;
}

.features .feature-card .feature-image img {
margin-top: 0;
height: 240px;
}

.features .feature-card .feature-image:hover {
    right: 0px;
}


.features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

div {
    display: block;
}