body{
    background-color: #fffbf7;
}

h1 {
    color: #025157;
  }
  .texto-debajo {
    color: #46484c;
  }
  .promocional {
    color: #8b8b8bcc;
  }
  form .texto-blanco {
    color: #ffffff;
    background-color: #025157;
  }

